<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onlyou.im.user.entity.ImUserChatRelEntityMapper" >
  <resultMap id="BaseResultMap" type="com.onlyou.im.user.entity.ImUserChatRelEntity" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="im_user_id" property="imUserId" jdbcType="VARCHAR" />
    <result column="chat_im_user_id" property="chatImUserId" jdbcType="VARCHAR" />
    <result column="nick_name_id" property="nickNameId" jdbcType="VARCHAR" />
    <result column="create_ts" property="createTs" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="update_ts" property="updateTs" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, im_user_id, chat_im_user_id, nick_name_id, create_ts, create_user_id, update_ts, 
    update_user_id
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.onlyou.im.user.entity.ImUserChatRelEntityCondition" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_onlyou_im_user_chat_rel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="PostgreSqlPaginationSuffix" />
  </select>
  <delete id="deleteByCondition" parameterType="com.onlyou.im.user.entity.ImUserChatRelEntityCondition" >
    delete from t_onlyou_im_user_chat_rel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <select id="countByCondition" parameterType="com.onlyou.im.user.entity.ImUserChatRelEntityCondition" resultType="java.lang.Integer" >
    select count(*) from t_onlyou_im_user_chat_rel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCondition" parameterType="map" >
    update t_onlyou_im_user_chat_rel
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.imUserId != null" >
        im_user_id = #{record.imUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.chatImUserId != null" >
        chat_im_user_id = #{record.chatImUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.nickNameId != null" >
        nick_name_id = #{record.nickNameId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTs != null" >
        create_ts = #{record.createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTs != null" >
        update_ts = #{record.updateTs,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateUserId != null" >
        update_user_id = #{record.updateUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <sql id="PostgreSqlPaginationSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.pageSize} offset (#{page.recordStart}-1) ]]>
    </if>
  </sql>
  <insert id="insertList" parameterType="java.util.List" >
     insert into t_onlyou_im_user_chat_rel ( id,im_user_id,chat_im_user_id,nick_name_id,create_ts,create_user_id,update_ts,update_user_id ) values
    <foreach collection="list" item="item" index="index" separator="," >
       ( #{item.id,jdbcType=VARCHAR},#{item.imUserId,jdbcType=VARCHAR},#{item.chatImUserId,jdbcType=VARCHAR},#{item.nickNameId,jdbcType=VARCHAR},#{item.createTs,jdbcType=TIMESTAMP},#{item.createUserId,jdbcType=VARCHAR},#{item.updateTs,jdbcType=TIMESTAMP},#{item.updateUserId,jdbcType=VARCHAR} )
    </foreach>
  </insert>
</mapper>